@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> <a href="https://www.youtube.com/watch?v=L8XbI9aJOXk">Żeby coś było</a>.</p>
</div>
